* {
    font-family: 'メイリオ';
    margin: 0;
    padding: 0;
}

.textarea {
    width: 800px;
    height: 200px;
    border: solid 1px black;
}

.tabs .tab {
    display: inline-block;
    width: 200px;
    padding: 5px;
    background-color: gainsboro;
    color: dimgray;
    text-align: center;
}

.tabs .tab.active {
    background-color: dimgray;
    color: white;
}