* {
    font-family: 'メイリオ';
    color: #dddddd;
}

body {
    background-color: #222222;
}

.half {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
}

.alignCenter {
    text-align: center;
}

.border {
    border: solid 1px #dddddd;
    min-height: 10px;
}

.textarea {
    height: 200px;
    width: 100%;
    background-color: #222222;
    color: #dddddd;
}

.tabs .tab {
    display: inline-block;
    width: 200px;
    text-align: center;
    background-color: dimgray;
    color: white;
}

.tabs .tab.active {
    background-color: gainsboro;
    color: dimgray;
}

h1, h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}